:root {
    --main-theme-color: #404e4a;
    --main-text-color: #201e1e;
    --main-text-title-color: #201e1e;
    --main-text-desc-color: #201e1e;
    --main-btn-bg-color: #999393;
    --main-btn-border-color: #413d3d;
    --main-btn-borderhov-color: #9b9696;
    --main-btn-texthov-color: #404e4a;
}

/* Styles defined for the desktop or the bigger screen devices*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-theme-color);
}

/* Header Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    padding: 0 5rem;
}

.logo .logo-heading {
    color: var(--main-text-title-color);
}

.menu {
    padding: 0 5rem;
}

.hamburger {
    display: none;
    color: var(--main-text-title-color);
    font-size: 25px;
}

.cross-icon {
    display: none;
}

.menu .menu-list {
    display: flex;
    list-style: none;
}

.menu-list .menu-list-items {
    padding: 0.5rem 1rem;
}

.menu-list .menu-list-items .links {
    font-family: "roboto mono", monospace;
    font-size: 0.9em;
    margin-right: 2em;
    padding: 5px;
    border: 2px solid var(--main-btn-border-color);
    box-shadow: 5px 5px 0px 2px var(--main-btn-border-color);
    white-space: nowrap;
}

.menu-list .menu-list-items .links:hover {
    border: 2px solid var(--main-btn-borderhov-color);
    color: var(--main-btn-texthov-color);
    background-color: var(--main-btn-bg-color);
    box-shadow: 0px 0px 0px 0px;
    transition: all 0.2s;
}

.links {
    border-bottom: 2px solid transparent;
    transition: all 0.25s;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

/* Main Hero Section Styles */
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 4.8rem 0;
}

.hero .intro {
    text-align: center;
    margin: 0 5rem;
}

.hero .intro-buttons {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (min-width: 856px) and (max-width: 1024px) {
    .menu-list .menu-list-items {
        padding: 0.5rem 0.3rem;
    }
}

/* About section styles */
.about {
    display: flex;
    align-items: center;
    /* background-image: linear-gradient(45deg, #363D73, #2794B3); */
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

.about .about-text {
    width: 450px;
    color: var(--main-text-color);
    padding: 5rem 1rem 5rem 5rem;
}

.about .about-image img {
    height: 400px;
    width: 450px;
    padding: 5rem 5rem 5rem 1rem;
}

/* Portfolio section styles */
.portfolio {
    margin: 4.8rem 0;
    padding: 0 5rem;
}

.port-card {
    padding: 0 !important;
    background: none !important;
    border: 2px solid #000;
}

.port-card .image {
    width: 100%;
}

.port-card .image img {
    height: 200px;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/* Services section styles */
.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4.8rem 0;
    padding: 0 5rem;
}

.my-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.my-row .my-col {
    text-align: center;
    width: 30%;
}

.my-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-image: linear-gradient(#404e4a, #545858, #657774);
    padding: 1rem;
}

.icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #363D73;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon svg {
    font-size: 30px;
    color: #fff;
}

/* Contact section styles */
.contact {
    padding: 0 5rem;
}

.contact-content {
    display: flex;
    margin: 3rem 0;
    justify-content: space-between;
}

.contact-form-container {
    width: 50%;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form .form-controls {
    width: 80%;
    padding: 10px 0;
    margin: 1.67rem 0;
}

.contact-form .form-btn {
    width: 83%;
}

.contact-details {
    width: 50%;
}

/* Footer Styles */
.footer {
    background-color: #000;
    color: #fff;
    padding: 2rem;
}

.footer-list-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: 1rem 1rem 0 1rem;
    border-radius: 50%;
    background-color: #657774;
}

.footer-links {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-menu {
    padding: 0 5rem;
}

.footer-menu .footer-menu-list {
    display: flex;
    list-style: none;
}

/* utility classes */
.greet-heading {
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0;
    color: var(--main-text-color);
    letter-spacing: 1px;
}

.my-heading {
    font-size: 2.5rem;
    margin: 0;
    color: var(--main-text-color);
}

.sub-heading {
    padding-top: 2rem;
    margin: 0;
    font-size: 0.8rem;
    color: var(--main-text-color);
    font-weight: lighter;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
    text-decoration: none;
    color: #fff;
}

.common-btn {
    font-family: "roboto mono", monospace;
    font-size: 0.9em;
    margin-right: 2em;
    padding: 5px;
    border: 2px solid var(--main-btn-border-color);
    box-shadow: 5px 5px 0px 2px var(--main-btn-border-color);
    white-space: nowrap;
    transition: all 0.25s;
}

.common-btn:hover {
    border: 2px solid var(--main-btn-borderhov-color);
    color: var(--main-btn-texthov-color);
    background-color: var(--main-btn-bg-color);
    box-shadow: 0px 0px 0px 0px;
}

.ghost-btn {
    font-family: "roboto mono", monospace;
    font-size: 0.9em;
    margin-right: 2em;
    padding: 5px;
    border: 2px solid var(--main-btn-border-color);
    box-shadow: 5px 5px 0px 2px var(--main-btn-border-color);
    white-space: nowrap;
    transition: all 0.25s;
}

.ghost-btn:hover {
    border: 2px solid var(--main-btn-borderhov-color);
    color: var(--main-btn-texthov-color);
    background-color: var(--main-btn-bg-color);
    box-shadow: 0px 0px 0px 0px;
}

.heading-span {
    font-weight: bolder;
}

.text-center {
    text-align: center;
}

.small-para {
    font-size: 14px;
    color: #fff;
}

.white-text {
    color: #fff;
}

.blue-text {
    color: #363D73;
}

.spec-text {
    color: #657774;
}